body{

font-family: 'Orbitron', sans-serif;

background: linear-gradient(135deg,#0f2027,#000000);

color:white;

text-align:center;

padding:40px;

}

h1{

color:#00aaff;

}

.container{

background:#111;

padding:30px;

border-radius:10px;

width:350px;

margin:auto;

box-shadow:0px 0px 20px #00aaff;

}

input, select{

width:90%;

padding:10px;

margin:10px;

border:none;

border-radius:5px;

}

button{

background:#2ecc71;

color:white;

border:none;

padding:12px;

border-radius:6px;

cursor:pointer;

font-size:16px;

}

button:hover{

background:#27ae60;

}

#resultado{

margin-top:20px;

color:#2ecc71;

}

img{

margin-top:20px;

border-radius:10px;

}
